.btn{
    border:none;
    outline:none;
    background-color:goldenrod;
    color:white;
    border-radius:20px;
    float:right;
}
/* .projectid{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:100px;
}
.projectname{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:90px;
}
.moduleid{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:100px;
}
.moduleid1{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:70px;
}
.modulename{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:100px;
}
.submodule{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:90px;
}
.submodule1{
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin-left:70px;
} */
.select{
    border:none;
    outline:none;
}
.addbtn{
    border:none;
    outline:none;
    background-color:blue;
    color:white;
    border-radius: 20px;
    padding:5px 10px 5px 10px;
    width:70px;
}
.clearbtn{
    border:none;
    outline:none;
    background-color:blue;
    color:white;
    border-radius:20px;
    margin-left:5px;
    width:70px;
    padding:5px 10px 5px 10px;

}
td,th,tr,thead{
    border:1px solid black;
} 
.updatebtn{
    border:none;
    outline:none;
    background-color:blue;
    color:white;
    border-radius:20px;
    padding:5px 10px 5px 10px;
}
.deletebtn{
    border:none;
    outline:none;
    background-color:blue;
    color:white;
    border-radius:20px;
    padding:5px 10px 5px 10px;
}
.cancelbtn{
    border:none;
    outline:none;
    background-color:blue;
    color:white;
    margin-left:5px;
    border-radius:20px;
    padding:5px 10px 5px 10px;
}
.main{
color: goldenrod;
}
.editbtn{
    border:none;
    outline:none;
    margin-bottom:10px;
    margin-left: 10px;
}