 <mat-card>
    <div class="container-fluid">
        <div class="row">
          <mat-card class="col-sm-4" id="users" >
            <div class="col-sm-12">
                <mat-card class="col-sm-6" >
                    <img src="/assets/users1.jpg" width="100px">
                </mat-card>
            </div>
            
          </mat-card>
          <mat-card class="col-sm-4" id="users">
            <mat-card class="col-sm-6" >
                <img src="/assets/p.jpg" width="100px">
    
            </mat-card>
          </mat-card>
          <mat-card class="col-sm-3" id="users">
            <mat-card class="col-sm-6" >
                <img src="/assets/task1.jpg" width="100px">
    
            </mat-card>
        </mat-card>

          <mat-card class="col-sm-5" id="break" >
            <span class="col-sm-12">
                <img src="/assets/graph.jpg" width="400px">
    
            </span>
          </mat-card>
          <mat-card class="col-sm-5" id="break">
            <span class="col-sm-12">
                <img src="/assets/piechart.jpg" width="400px">
    
            </span>
          </mat-card>

 
 
 